.explore-section {
  background: url('../assets/images/chickens-different-colors-farmyard-daytime.jpeg') no-repeat center/cover;
  color: #fff;
  height: 800px;
  font-family: 'Poppins', sans-serif;

  .explore-layout {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    padding: 60px 0;
    justify-content: center;
    align-items: center;

    .explore-layout-left {
      flex: 1.5;
      height: 100%;
      background: rgba(42, 157, 143, 0.46);
      display: flex;
      justify-content: flex-end;

      .overlay-content {
        position: relative;
        width: 100%;
        background: rgba(179, 43, 43, 0.38);

        .image-content {
          position: absolute;
          right: 0;
          bottom: 0;

          .img img {
            width: 300px;
            border: 15px solid #172234;
            border-radius: 50% 50% 8px 8px;
          }
        }

        .media-button-box {
          position: absolute;
          right: 50px;
          bottom: 300px;
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
          border-radius: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 8px;
          }

          .video-btn {
            color: #1976D3;
          }
        }

        .cell-box-container {
          position: absolute;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          right: 260px;
          bottom: 50px;

          .call-box {
            display: flex;
            align-items: center;
            background: #38b6ff;
            color: #fff;
            padding: 15px 20px;
            border-radius: 50px;
            max-width: 330px;
            max-height: 100px;

            .avatar {
              width: 65px;
              height: 65px;
              border-radius: 50%;
              margin-right: 15px;
              position: relative;
            }

            .call-details {
              flex: 1;
              display: flex;
              flex-direction: column;

              .call-title {
                font-size: 0.5rem;
                opacity: 0.8;
                color: var(--dark);
              }

              .phone-number {
                font-size: 1rem;
                font-weight: bold;
                color: var(--dark);
              }
            }

            .call-icon {
              background: white;
              color: #38b6ff; // optional: icon color
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.8rem; // adjust icon size
              position: relative;
              right: 28px;
              transform: rotate(270deg);
            }

          }
        }
      }
    }

    .explore-layout-right {
      flex: 1;
      height: 100%;
      background: rgba(13, 27, 42, 0.4);
      justify-content: center;
    }

  }

}