@mixin font-fenix-regular {
  font-family: "Fenix", serif;
  font-weight: 400;
  font-style: normal;
}


@mixin font-exo-regular {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin font-exo-bold {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@mixin font-poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@mixin font-poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin font-poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin font-poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin font-poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin font-poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@mixin font-poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

@mixin font-poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

@mixin font-poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@mixin font-poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin font-poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@mixin font-poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

@mixin font-poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@mixin font-poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

@mixin font-poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@mixin font-farro-light {
  font-family: "Farro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-farro-regular {
  font-family: "Farro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-farro-medium {
  font-family: "Farro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin font-farro-bold {
  font-family: "Farro", sans-serif;
  font-weight: 700;
  font-style: normal;
}
