.team-highlight {
  background: #fff;
  //padding: 60px 20px;

  .container {
    max-width: 100%;
    background: #2a9d8f;
    margin: 0 auto;
    display: flex;


    .highlight-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; // responsive stacking

      gap: 30px;

      @media (max-width: 992px) {
        flex-direction: column;
        text-align: center;
      }
    }

    .highlight-left {
      flex: 1;
      max-width: 33.33%;
      min-width: 280px;

      .highlight-img {
        width: 500px;
        height: auto;
        border-radius: 15px;
        box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .highlight-right {
      flex: 1;
      max-width: 33.33%;
      min-width: 280px;

      .highlight-desc {
        font-size: 0.95rem;
        color: #555;
        margin-bottom: 20px;
        line-height: 1.6;
      }

      .highlights {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;

        .highlight-stats {
          flex: 1;

          .stat-number {
            font-size: 2rem;
            color: #3ba0ff;
            margin: 0;
          }

          .stat-label {
            font-weight: bold;
            text-transform: uppercase;
            color: #333;
            margin-bottom: 10px;
          }
        }

        .highlight-benefits {
          flex: 1;
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;

          li {
            color: #333;
            display: flex;
            align-items: center;
            font-size: 0.95rem;

            i {
              color: #ff5722;
              margin-right: 10px;
            }
          }
        }
      }

      .highlight-btn {
        display: inline-block;
        background-color: #3ba0ff;
        color: white;
        padding: 12px 25px;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0e7cd5;
        }
      }
    }

    .highlight-character {
      flex: 1;
      max-width: 33.33%;
      min-width: 280px;
      display: flex;
      justify-content: flex-end;

      .character-img {
        max-width: 300px;
        width: 100%;
        height: auto;
      }

      @media (max-width: 992px) {
        justify-content: center;
      }
    }
  }
}
