.explore-section {
  //background: url('../../../assets/images/chickens-different-colors-farmyard-daytime.jpeg') no-repeat center/cover;
  //color: #fff;
  height: 800px;
  //font-family: 'Poppins', sans-serif;
  padding: 50px 0;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 40px 0;
  }

  .explore-layout {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio = 9 / 16 * 100 */
    overflow: hidden;

    display: flex;
    height: 100%;
    padding: 60px 0;
    justify-content: center;
    align-items: center;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;

      //width: 100%;
      //height: 750px;
      //
      //@media screen and (max-width: 1024px) {
      //  height: calc(300px + 10%);
      //}
      //
      //@media screen and (max-width: 576px) {
      //  height: 300px;
      //}
    }


    .explore-layout-left {
      flex: 1.4;
      height: 100%;
      display: flex;
      justify-content: flex-end;

      .overlay-content {
        position: relative;
        width: 100%;

        .image-content {
          position: absolute;
          right: 0;
          bottom: 0;

          .img img {
            width: 300px;
            border: 15px solid #172234;
            border-radius: 50% 50% 8px 8px;
          }
        }

        .media-button-box {
          position: absolute;
          right: 50px;
          bottom: 300px;
          width: 80px;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
          border-radius: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.4s ease, box-shadow 0.4s ease;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 8px;
          }

          .video-btn {
            color: #1976D3;
          }

          &:hover {
            transform: scale(1.1);
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
            cursor: pointer;
          }
        }

        .cell-box-container {
          position: absolute;
          right: 260px;
          bottom: 50px;

          .call-box {
            display: flex;
            align-items: center;
            transition: transform 0.4s ease, box-shadow 0.4s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background: #38b6ff;
            color: #fff;
            padding: 15px 20px;
            border-radius: 50px;
            max-width: 330px;
            max-height: 100px;

            .avatar {
              width: 65px;
              height: 65px;
              border-radius: 50%;
              margin-right: 15px;
              position: relative;
            }

            .call-details {
              flex: 1;
              display: flex;
              flex-direction: column;

              .call-title {
                font-size: 0.5rem;
                opacity: 0.8;
                color: var(--dark);
              }

              .phone-number {
                font-size: 1rem;
                font-weight: bold;
                color: var(--dark);
              }
            }

            .call-icon {
              background: white;
              color: #38b6ff; // optional: icon color
              width: 30px;
              height: 30px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.8rem; // adjust icon size
              position: relative;
              right: 28px;
              transform: rotate(270deg);
            }

            &:hover {
              transform: scale(1.1);
              box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
              cursor: pointer;
            }
          }
        }
      }
    }

    .explore-layout-right {
      flex: 1;
      height: 100%;
      //background: rgba(13, 27, 42, 0.4);

      .overlay-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 16px;
        height: 100%;
        //background: rgba(179, 43, 43, 0.38);

        .image-content {
          .img img {
            width: 280px;
            border: 15px solid #172234;
            border-radius: 8px 8px 30% 30%;
          }
        }

        .lorem-text {
          margin-left: 32px;
          font-size: 2rem;
        }

        .button-area {
          display: flex;

          button {
            background: #7CC6F7;
            border: none;
            border-radius: 5px;
            padding: 16px 12px;
            text-transform: uppercase;
            margin-left: calc(32px + 24px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.4s ease, box-shadow 0.4s ease;

            &:hover {
              cursor: pointer;
              transform: translateY(4px);
              box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 1024px) {
  .explore-section {

    .explore-layout {
      .explore-layout-left,
      .explore-layout-right {
        flex: 1;

        .overlay-content {
          position: relative !important;

          .image-content {
            .img img {
              width: 300px;
            }
          }

          .media-button-box {
            right: 10%;
            bottom: 300px;
            width: 80px;
          }

          .cell-box-container {
            width: 250px;
            margin-top: 20px;
            left: 5%;
            bottom: 5%;
            display: flex;
            justify-content: center;

            .call-box {
              width: 100%;
              align-items: center;
              text-align: center;

              .avatar {
                margin-right: 0;
                margin-bottom: 10px;
              }

              .call-details {
                align-items: center;

                .call-title, .phone-number {
                  color: white !important;
                }
              }

              .call-icon {
                display: none; // optional
              }
            }
          }
        }
      }

      .explore-layout-right .overlay-content {
        align-items: center;

        .lorem-text {
          margin: 0;
          font-size: 1.2rem;
        }

        .button-area {
          margin-top: 20px;

          button {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .explore-section {
    height: 300px;

    .explore-layout {
      height: 100%;
      display: flex;

      .explore-layout-left, .explore-layout-right {
        flex: 1;
        height: 100%;
        width: 100%;

        .overlay-content {
          //position: relative !important;
          //background: rebeccapurple;

          .image-content {
            top: -50%;

            .img img {
              width: 150px;
            }
          }

          .media-button-box {
            bottom: 10%;
            width: 60px;
            height: 60px;
          }

          .cell-box-container {
            width: 200px;
            margin-top: 20px;
            display: flex;
            justify-content: center;

            .call-box {
              width: 100%;
              align-items: center;
              text-align: center;

              .avatar {
                width: 30px;
                height: 30px;
              }

              .call-details {
                align-items: center;

                .call-title, .phone-number {
                  color: white !important;
                }
              }

              .call-icon {
                display: none; // optional
              }
            }
          }
        }
      }

      .overlay-content {
        padding: 12px !important;
      }
    }
  }
}

