.team-highlight {
  position: relative;
  height: 800px;
  width: 100%;

  .team-highlight-container {
    max-width: 70%;
    margin: auto;
    display: flex;

    .highlight-layout {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; // responsive stacking
      gap: 30px;

      .highlight-left {
        flex: 1;

        .highlight-img {
          border-radius: 15px;
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);

          img {
            width: 100%;
          }
        }
      }

      .highlight-right {
        flex: 1;

        .highlight-desc {
          font-size: 0.95rem;
          color: #555;
          margin-bottom: 20px;
          line-height: 1.6;
        }

        .highlights {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 20px;

          .highlight-stats {
            flex: 1;

            .stat-number {
              font-size: 2rem;
              color: #3ba0ff;
              margin: 0;
            }

            .stat-label {
              font-weight: bold;
              text-transform: uppercase;
              color: #333;
              margin-bottom: 10px;
            }
          }

          .highlight-benefits {
            flex: 1;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
              color: #333;
              display: flex;
              align-items: center;
              font-size: 0.95rem;

              i {
                color: #ff5722;
                margin-right: 10px;
              }
            }
          }
        }

        .highlight-btn {
          display: inline-block;
          background-color: #3ba0ff;
          color: white;
          padding: 12px 25px;
          border-radius: 25px;
          text-decoration: none;
          font-weight: bold;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0e7cd5;
          }
        }
      }

    }
  }

  .highlight-character {
    position: absolute;
    width: 480px;
    right: -200px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .character-img {
      width: 100%;
      height: auto;
    }
  }
}
