.cta-banner {
  border: 2px dashed #d0d0d0;
  border-radius: 0 999px 999px 0;
  background-color: var(--light);
  width: 700px;
  margin: 0 auto;

  .cta-text {
    text-align: center;
    flex: 1;
    font-size: 0.95rem;
    padding: 0 1rem;
    color: #000;
    @include font-exo-regular();
  }

  .btn-cta {
    @include font-exo-bold();
    background-color: var(--light-blue);
    color: var(--dark);
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 0 999px 999px 0;
    white-space: nowrap;
    font-size: 0.95rem;
    text-decoration: none;
    transition: background 0.3s ease;

    &:hover {
      background-color: darken(#7BC6F7, 10%);
      color: var(--light);
    }
  }

  // Tablet & Below
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    border-radius: 1.5rem;
    padding-bottom: 10px;

    .cta-text {
      padding: 0.8rem 0;
      text-align: center;
    }

    .btn-cta {
      width: 70%;
      text-align: center;
      border-radius: 1rem;
    }
  }

  // Extra Small Screens
  @media (max-width: 480px) {
    width: 90%;
    padding: 1rem 1.2rem;
    .btn-cta {
      font-size: 0.9rem;
      padding: 0.6rem 1rem;
    }

    .cta-text {
      font-size: 0.8rem;
    }
  }
}
