header {
  z-index: 1000;
  @include font-fenix-regular;

  .logo {
    color: var(--primary);
    display: flex;
    //padding-left: 20%;
    align-items: center;
    height: 50px;
    width: 100px;
  }

  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--dark);
      height: 24px;
      width: 24px;
      transition: color 0.3s;

      &:hover {
        color: var(--secondary);
      }
    }
  }

  .mobile-nav-bar {

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0,0,0,0.65);
        height: 24px;
        width: 24px;
        transition: color 0.3s;

        svg {
          height: 24px;
          width: 24px;
        }

        &:hover {
          color: var(--secondary);
        }
      }
    }
  }

  .nav-left {
    .nav-link {
      color: var(--dark);
      font-weight: 500;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: var(--secondary);
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        color: var(--secondary);
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
        color: var(--secondary);
      }
    }
  }

  // 👇 Responsive Tweaks for Mobile View
  @media (max-width: 991px) {

    .logo {
      position: static;
      transform: none;
      font-size: 1.6rem;
      margin: 0 auto;
      text-align: center;
      padding-left: 0;
      justify-content: center;
    }

    .navbar-collapse {
      background: var(--light);
      padding: 1rem 0;
      border-radius: 0 0 10px 10px;
      z-index: 1000;
    }

    .navbar-nav .nav-item {
      margin-bottom: 0.8rem;
    }


    .nav-right {
      order: -1;
      justify-content: center;
    }

    .nav-left {
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      gap: 0.7rem;
    }
 }

  @media (max-width: 576px) {
    .logo {
      font-size: 1.4rem;
      justify-content: center;
      padding-left: 0;
      height: 50px;
    }

    .nav-right a {
      font-size: 1rem;
    }

 }
}
